---

---
<section class="min-h-screen min-w-screen">
    <div class="px-4 py-32 lg:flex lg:h-screen lg:items-center">
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
            Certificación Internacional 
            <br>
          <span class="font-extrabold text-red-700 sm:block">Life Coaching</span>
        </h1>
  
        <p class="mt-4 sm:text-xl/relaxed">
            Avalado por el ente certificador <span class="font-semibold text-red-700">Conocer</span> e <span class="font-semibold text-red-700">Instituto Benoist.</span>  Representante oficial de la marca Mauricio Benoist.
        </p>
  
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block font-bold py-3 px-6 rounded-full  bg-black shadow-lg shadow-stone-500 text-white to-white-900"
            href="#"
          >
            Descubre más
          </a>

        </div>
      </div>
    </div>
  </section>

  <style>
    h1{
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 1,2px;
	  } 
    p, a {
      font-family: 'Playfair Display', serif;
      font-weight: 500;
    }
  </style>