---
import CallToAction from './CallToAction.astro';
import Offers from './Offers.astro'
import Testimonial from './Testimonial.astro';
import LoQueLograras from './LoQueLograras.astro';
---

<div id="container" class="bg-gradient-to-t from-stone-300 via-yellow-300 to-yellow-500">
	<CallToAction/>
	<Offers/> 
	<LoQueLograras/>
	<Testimonial/>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	#container {
		
		font-family: playfair display;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}


	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		
	}
</style>
